/* ==============  GLOBAL STYLES  ==============  */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Alegreya:400,700|Vidaloka|Cardo);



html, body {
      height:100%;
}

main{
    width: 1200px;
    overflow: hidden;
    margin:20px auto;
}
body {
     margin:0px; 
     padding:0px;
     background-color:#ffffff;
     font-family:'Trebuchet MS', Verdana, sans-serif;
     font-size:16px;
     font-weight:500;
     color:#000000;
}
strong, b{
    color:#e6005c;
    font-weight: 700;
}
mark {
    padding: 0px 13px;
    background-color: #add8e6;
    
}
h1, h2, h3 {
      margin:0px;
      padding:0px;
      color:#e6005c;
      font-family: 'Playfair Display', Verdana, serif;
}
h1 {
    font-size:2em;  
}
p {
   color:#545454; 
   margin: 15px 0px;
   line-height: 20px;
   font-family: 'Alegreya', Verdana, serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color:#80cd32;
    font-weight: 600;
}
span{
    color: #000000;
    font-size: 30px;
    font-family: 'Alegreya', Verdana, serif;
}
figure{
    padding: 10px;
    background-color:#80cd32;
    display:inline-block;
    border-radius: 8px;
    margin:0px;
    /*box-shadow: 5px 5px 5px #000000;*/
}
figcaption{
    text-align: center;
    font-size: 2em;
    font-family: 'Alegreya', Verdana, serif;
}

/* ==============  HEADER STYLES  ==============  */
header{
    height:150px;
    background-color:#ffc0cb;
}

#logo{
    color:#000000;
    /*position: relative;*/
    position: absolute;
    top: 55px;
    left: 170px;
}
#logo:hover{
    background-color: #ffc0cb;
}

/* ==============  NAVIGATION STYLES  ==============  */

#menu{
    position: absolute;
    /*top: 20px;*/
    right: 20px;
    float: right;
	width: 25%;
	/*padding: 20px 20px 0px 20px;*/
	top: 695px; 
}
#menu ul li{
    /*display: inline;*/
    display: inline-block;
    /*margin: 0px 10px;*/
    background-color: #e6005c;
    padding: 10px 15px 4px 15px;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Alegreya', Verdana, serif;
}
#menu li:hover{
    color: #ffff00;
    background-color: #ffffff;
}

.currentPage{
    color:#000000;
}

/* ==============  BANNER STYLES  ==============  */ 

#banner{
    overflow:hidden;
    padding: 175px 0px;
    border-top: 6px dotted #000000;
    border-bottom: 6px solid #000000;
    background-color: #aeaeae;
    background: url(../images/banner-home.jpg) no-repeat center center #ffc0cb;
    background-size: cover;
    text-align: center;
}

#bannerText{
    color: #ffffff;
    font-size: 6em;
    text-align: center;
    text-shadow: 6px 6px 4px #e6005c;
}
#banner .button{
    background-color: #ffffff;
    color: #e6005c;
    margin-top: 50px;
    /*top:145px;*/
    /*right: 500px;*/
    font-size: 1.25em;
}
#banner .button:hover{
    color:#ffffff;
    background-color: #e6005c;
}   
   
/* ==============  COLUMN STYLES  ==============  */

.columnA, .columnB, .columnC {
    float:left;
    background-color:#80cd32;
    width:384px;
    color:#ffffff;
    text-align:center;
    font-weight: 400;
    border-radius: 8px;
}

.columnA, .columnB{
    /*float:left;*/
    margin-right: 24px;
}
    
.columnA h2, .columnB h2, .columnC h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 15px 0px;
    /*    */
}

.columnA p, .columnB p, .columnC p {
    padding: 5px;
    text-align: justify;
}

.columnA span, .columnB span, .columnC span {
    background-color:#ffc0cb;
    color: #ffffff;
    display: block;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    font-family: 'Alegreya', Verdana, serif;
}

/* ============== BUTTON STYLES ============== */
.button {
	background-color: #ffc0cb;
	border-radius: 8px;
	padding: 13px 18px;
	text-decoration: none;
	color: #000000;
	display: inline-block;
	margin-bottom: 10px;
	font-family: 'Playfair Display', Verdana, serif;
}

.button:hover {
	background-color: #e6005c;
	color:#ffffff;
	font-weight: 700;
}

/* ==============  ASIDE STYLES ============== */
.leftAside{
    float:left;
    width:384px;
    color:#000000;
    text-align:center;
    margin-right:24px;
}

.rightAside{
    float:right;
    width:384px;
    color:#000000;
    text-align:center;
    margin-left:24px;
}

.aboutMe{
    float: right;
    width: 790px;
}
.aboutMe p{
    text-align: justify;
}

.blogPost{
    display: inline-block;
    margin:12px 0px;
}

/* ==============  FOOTER STYLES  ==============  */
footer {
    height: 125PX;
    padding: 20px 0px;
    margin-top: 20px;
    border-top: 4px dotted;
    text-align: center;
    background: #ffc0cb;
}
footer p{
    color: #009a49;
}
/* ==============  SOCIAL STYLES  ==============  */
.social a {
    color: #ffffff;
}

.fa{
    background-color: rgb(141, 198, 63);
    border: solid 3px #ffffff;
    font-size: 2em !important;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    padding: 12px;
    margin: 0px 15px;
    text-align: center;
}
.fa-facebook{
   background-color:#3b5998; 
}
.fa-facebook:hover{
   background-color:#99add7; 
}
.fa-twitter{
     background-color:#00aced;
}
.fa-twitter:hover{
     background-color:#9fe5ff;
}
.fa-instagram{
     background-color:#517fa4;
}
.fa-instagram:hover{
     background-color:#b7cbdb;
}
.fa-linkedin{
     background-color:#007bb6;
}
.fa-linkedin:hover{
     background-color:#8fdbff;
}
.fa-github{
     background-color:#000000;
}
.fa-github:hover{
     background-color:#aeaeae;
}

/* ==============  MISCELLANEOUS STYLES  ==============  */
#videoCats {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
}

#videoCats iframe, #videoCats embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.maps{
    display: block;
    width: 90%;
    margin: auto;
}

#wufoo-z1gl56i81t0rdij{
    background-color: #e6f4e1;
    border: 3px solid #000000;
    border-radius: 8px;
    width:90%;
    margin:0px auto;
}


