/* ==============  GLOBAL STYLES  ==============  */

html, body {
      height:100%;
      
}

body {
     margin:0px; 
     padding:0px;
     background-color:#ffffff;
     font-family:'Trebuchet MS', Verdana, sans-serif;
     font-size:16px;
     font-weight:500;
     color:#000000;
}
h1, h2, h3 {
      margin:0px;
      padding:0px;
      color:#3763b9;
}
h1 {
    font-size:2em;  
}
p {
   color:#545454; 
   margin: 15px 0px;
   line-height: 20px;
}
a{
    color: #ff7900;
    text-decoration: none;
}
a:hover{
    color:#aeaeae;
}
span{
    color: #000000;
    font-size: 24px;
}

/* ==============  HEADER STYLES  ==============  */
header{
    height:100px;
    background-color:#f4f4f4;
}

#logo{
    color:#aeaeae;
}
#logo:hover{
    color:#ff7900;
}

/* ==============  BANNER STYLES  ==============  */ 

#banner{
    overflow:hidden;
    padding: 175px 0px;
    border-top: 6px solid #ff7900;
    background-color: #aeaeae;
    background: url(../images/banner-home.jpg) no-repeat center center #ff7900;
    background-size: cover;
}

#bannerText{
      color: #ffffff;
      font-size: 6em;
      text-align: center;
      text-shadow: 6px 6px #000000;
}
   



/* ==============  COLUMN STYLES  ==============  */

.columnA{
      float:left;
      background-color:#83b937;
      height:600px;
      width:400px;
      color:#ffffff;
      text-align:center;
      margin:8px;
}
.columnB{
        float:left;
        background-color:#83b937;
        height:600px;
        width:400px;
        color:#ffffff;
        text-align:center;
        margin:8px;
}
.columnC{
        float:left;
        background-color:#83b937;
        height:600px;
        width:400px;
        color:#ffffff;
        text-align:center;
        margin:8px;
}

/*.leftAside{*/
        /*float:left;*/
/*        background-color:#e60000;*/
/*        height:600px;*/
/*        width:400px;*/
/*        color:#ffffff;*/
/*        text-align:center;*/
/*        margin:10px;*/
/*}*/

